/* 样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(90deg, #ff9a9e, #fad0c4, #c3b4e5, #fbc2eb, #ff9a9e, #fad0c4);
    background-size: 500% 200%;
    animation: gradientAnimation 15s linear infinite;
    min-height: 100vh;
    position: relative;
}

ul {
    padding-left: 20px;
}

header {
    padding: 10px;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
}

/* 容器 */
.container {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    margin-bottom: 5px;
}

/* 圣杯布局 */
.sidebar {
    width: 240px;
    background-color: #eee;
    padding: 15px;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.main {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    margin: 0 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.aside {
    width: 240px;
    background-color: #eee;
    padding: 15px;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


a {
    text-decoration: none;
    font-family: 'Consolas', 'Monaco', 'Menlo', 'DejaVu Sans Mono', 'Courier New', 'Lucida Console';
    color: #ffffff;
    font-weight: bold;
    background-color: #e46623;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;
}

button {
    border: #e46623 2px solid;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #ffffff;
    padding: 8px;
    margin: 5px;
    transition: 0.5s;
}

a:hover {
    background-color: #8a23e4;
    box-shadow: rgb(138, 35, 228, 0.5) 0px 0px 10px 0px;
}

button:hover {
    border: #8a23e4 2px solid;
    box-shadow: rgb(138, 35, 228, 0.5) 0px 0px 10px 0px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    color: #484848;
    padding: 5px;
    border-radius: 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}



.navtop {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    padding: 5px 12px;
}

nav {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: auto;
    background-color: #ffffff80;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px #00000033;
    max-width: 1180px;
}

nav a {
    color: black;
    background-color: transparent;
    flex: 1;
    text-align: center;
    padding: 5px 10px;
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
}

nav a:hover {
    background-color: #fff;
    box-shadow: none;
}

/* 响应式设计 */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        max-width: 550px;
        margin: auto;
    }

    .sidebar,
    .aside {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .main {
        margin: 10px 0;
    }

    nav {
        max-width: 540px;
    }
}

/* @media (min-height: 660px) {
    footer{
        position: fixed;
        backdrop-filter: blur(5px);
        bottom: 0;
    }
} */



@media (max-width: 450px) {
    nav {
        align-items: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    nav a {
        width: 100%;
        padding: 3px 10px;
        box-shadow: none;
    }

    .navtop {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}


.photo-container {
    margin: 10px 20px;
    /* 左右边距20px */
    border-radius: 10px;
    /* 四周圆角 */

}

.photo-container img {
    width: fit-content;
    /* 图片宽度占满容器 */
    margin: auto;
    height: auto;
    /* 图片高度自适应 */
    border-radius: 10px;
    /* 图片四周圆角 */
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
    object-fit: contain;
}

.photo-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}